<!DOCTYPE html>
<html>
<head>
	<link rel="stylesheet" href="style.css">
	<title>Chat oAuth</title>
</head>
<body>
<main>
<img id="giticon" src="https://image.flaticon.com/icons/png/512/25/25231.png">
<br>
<a class='git-btn' href="/auth">Entrar com o GitHub</a>

</main>
</body>
</html>
