<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>welcome 2 my blog</title>
    <style>
        *{
            background-color: pink;
            color:sienna;
        }
        ul{
            list-style-type: none;
        }
        li{
            display: inline-block;
        }
    </style>
</head>
<body>
<a href="/"> <img src="https://64.media.tumblr.com/9cb68ab98862efd2f56634f65954ee40/7cf915f60095705b-63/s250x400/29c4735b4caad69b4252427390d215d26a445340.gifv">   
</a>
<header>
    <ul>
        <li><a href="/auth/login">entrar</a></li>
        <li><a href="/">home</a></li>
    </ul>
</header>
<main>
    vai coisa aqui eu imagino
</main>
</body>
</html>